/* Exercice du Monde  */

/* ALL */
html{
  font-size:90%;
}

body
{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Éléments globaux  */
section{
  margin: 10px auto;
  /* Ici on a bien nos marges horizontales de 10px et on lui dit auto pour se mettre automatiquement au centre (car il va y avoir la répartition. Cela marche à condition de lui spécifier une taille ! */
  padding: 5px;
  width: 665px;
  border: solid 1px #0000001c;
  background: #e7f4f7 url(/HTML-CSS/2_Le-Monde/0_Mockup/images/fond-num.png) no-repeat bottom right;
  /* Il est possible aussi de préciser pour l'image de bg, un pourcentage au lieu de right bottom. Par exemple, 100% 100% va aligner à 100% du contenu à l'horizontale, 100% du contenu à la verticale. Avantage : ça permet de décaler facilement !  */
  font-size: 0.9rem;
}

p{
  margin-top: 0;
  line-height: 1.4rem; 
}

a{
  color: #636363;
  text-decoration: underline;
  font-weight: thin;
}

q{
  color: rgb(27, 170, 170);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: italic;
}

h2{
  background: url(/HTML-CSS/2_Le-Monde/0_Mockup/images/fd-degrade.png) repeat-y;
  margin: 0;
  padding: 5px 5px;
}

ul{
  list-style-type: square;
}

figure{
  float: left;
  margin: 0 10px 10px  0;
}

strong{
  color: blue;
  font-weight: bold;
}

/* Modifs spécifiques */
h2+p{
  text-align: right;
  font-size: 0.79rem;
  margin-top: 0;
}



