body{
  font-family: 'Montserrat', sans-serif;
  margin: auto; 
  width: 1024px; 
}

/* -------------------------------- Barre de navigation ----------------------------------- */
nav{
  display: flex; 
  flex-direction: row;
  justify-content: flex-start; 
  /* margin: auto;  */
  background-color: #373c3f;
  min-height: 18px; 
}

nav ul a{
  /* width: 100%;  */
  color: white; 
  padding: 18px; 
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
      /* Transition */
      transition-property: background-color;
      transition-delay: 250ms; 
      transition-timing-function: cubic-bezier(.76,.05,.86,.06); 
}

/* Compliqué de remettre le fond partout avec le hover! */
nav ul a:hover{
  width: 100%; 
  background-color: rgb(25, 131, 131); 
}

/* -------------------------------- Blocs ----------------------------------- */

.blue-container{
  display: flex; 
  flex-direction: column;

  justify-content: center; 
  align-items: center;

  background-color: #0da4ba; 
  color: white; 
}

.title_blue-container{
  font-size: 2.5rem; 
}

.second_blue-container{
  display: flex; 
  box-sizing: border-box; 
  background-color: red; 
  width: 100%; 
  padding-left: 25px; 

  justify-content: space-between;

}

section+section{
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start; 
  background-color: white; 
}

figure{
  display: flex; 
  justify-content: flex-end; 
}


/* Textes */



