/* Général */

html{
  font-size: 100%; 
}

body, ul, figure{
  margin: 0; 
  padding: 0; 
}

a{
  text-decoration: none; 
  color: fuchsia; 
}

img{
  width: 100%;
}

/* Header */

header{
  background-color: aquamarine; 
  padding: 10px 5%; 
  /* Le header fera constamment 100% du viewport height (vh). On peut aussi dire 100% du viewport width (vw) */
  /* height: 100vh;  */
  /* width: 50vw;  */

  /* Un carré : hauteur en 100vw (la hauteur fait 100% de la largeur)  */
}

header figure{
  height: 100px; 
  overflow: hidden; 
}

header p{
  font-size: 1.5rem; 
  font-weight: bold; 
  text-transform: uppercase; 
  text-align: center; 
}

/* Navigation */
nav ul{
  display: none; 
}

.burger{
  background-color: black; 
  position: absolute; 
  width: 30px; 
  height: 3px; 
  top: 25px; 
  right: 23px; 
}

.burger::before, .burger::after{
  content:""; 
  position: absolute; 
  width: inherit; 
  height: inherit; 
  top: -8px; 
  background-color: #333333; 
}

.burger::after{
  top: 8px; 
}

/* Main */
main{
  padding: 20px 5%; 
  font-family: Arial, Helvetica, sans-serif; 
  background-color: slategrey; 
}

main article {
  background-color: #333; 
  padding: 5px; 
  color: #eee; 
}

main article+article{
  margin-top: 40px; 
}

/* Footer */
  footer{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 0.8rem; 
    background-color: rgb(3, 14, 26); 
    color: white; 
}

/* RWD - Toujours à mettre APRÈS !*/

/* Principe : points de rupture (breakpoints) */

/*requête media, media queries */  

/* détection matérielle : seulement print, screen, speech et all */
/* media print : ce qui va être détecté lorsque le site sera imprimé*/
/* le print peut aussi avoir d'autres propriétés : orientation de l'appareil, aspect:ratio, color... qu'on utilisera très peu */ 
@media print{
  header{
    background-color: black; 
  }
}

/* Point de rupture : 640px */
@media screen and (min-width:640px){
  html{
    font-size: 100%; 
  }

  header{
    background-color: pink; 
  }

  main article{
    display: flex; 
    background-color: pink; 
  }

  main figure{
    width: 30%; 
    margin-right: 2%; 
  }
}


/* Point de rupture : 1200px */
@media screen and (min-width:1200px){
    html{
      font-size: 80%; 
    }

    nav ul{
      display: flex; 
      list-style-type: none; 
    }

    nav ul li{
      width: 25%; 
    }

    nav ul li a{
      display: block; 
      background-color: #aaa; 
      text-align: center; 
      padding: 8px 0; 
      color: #000; 
      transition: color 500ms ease-out, background-color 500ms ease-out; 
    }

    nav ul li a:hover, nav ul li a:focus{
      background-color: #111; 
      color: white; 
    }

    .burger{
      display: none; 
    }

    section{
      display: flex; 
      flex-wrap: wrap; 
      justify-content: space-between;
    }

    main article{
      width: 48%; 
      margin-bottom: 15px; 
    }

    main article+article{
      margin-top: 0; 
    }
   
}

/* Point de rupture : 1600px */
@media screen and (min-width:1600px){
  main article{
    width: 22%; 
    margin-bottom: 0;
    display: block; 
  }

  main figure{ 
    width: 60%; 
    float: left; 
    margin-right: 5px; 
  }

  main p{
    width: 100%; 
    margin-top: 0; 
    hyphens: auto; /* Attention : ne marche pas beaucoup, voir Can I use */ 
  }
}

/* Point de rutpure : 2000px */
@media screen and (min-width:2000px){

  #wrapper{
    width: 1200px; 
    margin: 0 auto; 
  }

}

/* @media speech{}

@media all  */